* {
  font-family: Roboto, Palatino, Times New Roman;
}

.head {
  max-width: 100%;
}

h1 {
  text-align: center;
  color: crimson;
;}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  color: red;
;}

.Page1_title {
 color: indianred;
 margin-left: auto;
 margin-right: auto;
 max-width: 50%;
 /* text-decoration: underline; */
}

.my_dataviz {
  text-align: center;
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* display: inline-block;
 position: relative;
 width: 100%;
 vertical-align: top;
 overflow: hidden; */
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.legend_usa {
  text-align: center;
  /* position: relative; */
  /* width: 95%;
  height: 100%; */
}


.slider {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  left:2%;
  /* right:72%; */
}


#select {
  padding-left: 2em;
}


#selectButton {
  position: relative;
  left:12%;
  right:50%;
  margin-left: auto; margin-right: auto; max-width: 50%;
}

#selectMeasure {
  position: relative;
  left: 12%;
  right: 50%;
  margin-left: auto; margin-right: auto; max-width: 50%;
}

.case_death_text {
  text-align: center;
}

.enter_button {
  position: relative;
  left:49%;
  font-size:25px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.annotation path {
  stroke: #00796B;
}

.annotation:not(.above):not(.anomaly) path {
  stroke-dasharray: 1,3;
  opacity: 0.5;
}

.annotation text {
  fill: black ;
  font-size: 14px;
  opacity: 0.5;
}

.annotation.above path {
  stroke: darkred;
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);
}

path:hover {
	fill-opacity: .7;
}

div.tooltip {
 	position: absolute;
	text-align: center;
	width: 120px;
	/* height: 80px; */
	padding: 2px;
	background: snow;
/* border: 1px; */
  border: 1.5px solid maroon;
  /* border-color: black; */
	border-radius: 8px;
	pointer-events: none;
  font-size: 13px;

}

.legend {
	position:absolute;
	left:20%;
	top:70%;
}

.ticks {
  font-size: 12px;
}

.label {
  font-size: 12px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: darkblue;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#play-button {
  position: absolute;
  /* top: 140px;
  left: 50px; */
  left:48%;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  /* width: 60px; */
  cursor: pointer;
  height: 30px;
}
#play-button:hover {
  background-color: #696969;
}

#case-button {
  position: absolute;
  /* top: 140px;
  left: 50px; */
  top: 832px;
  left:33%;
  background: mediumblue;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  /* width: 60px; */
  cursor: pointer;
  height: 30px;
}
#case-button:hover {
  background-color: #696969;
}

#death-button {
  position: absolute;
  /* top: 140px;
  left: 50px; */
  top: 832px;
  left: 48%;
  background: firebrick;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  /* width: 60px; */
  cursor: pointer;
  height: 30px;
}
#death-button:hover {
  background-color: #696969;
}

#testing-button {
  position: absolute;
  top: 832px;
  left: 63%;
  /* left:10%; */
  background: forestgreen;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  /* width: 60px; */
  cursor: pointer;
  height: 30px;
}
#testing-button:hover {
  background-color: #696969;
}
